body{
	background-image: linear-gradient(to bottom, DeepSkyBlue, DarkSlateBlue);
	padding:10%;
	padding-top:5%;
	color:white;
}

h1{
	font-family: 'Charm', cursive;
	font-size: 3em;
	margin-bottom: -24px;
}

h2{
	font-family: 'Cousine', monospace;
	font-size: 1.5em;
	margin-bottom: 12px
}

p{
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 1.5em;
	text-align:center;
}

#intertidal{
	color: #e6e600;	
}

.link{
	color: white
}