@import url('https://fonts.googleapis.com/css?family=Charm:700|Cousine|Source+Sans+Pro&subset=latin-ext');

main{
    background-image: url(images/background-tile-export.png);
    background-blend-mode:luminosity;
    background-position: center;
}


body{
	margin:10%;
	margin-top:5%;
	color:white;
	text-align: center;
    background-image: linear-gradient(to bottom, #00bfff -5%, #241f47 99%, #241f47 99.95%, #70670f 99.95%);
}

h1{
	font-family: 'Charm', serif;
	font-size: 3em;
	margin-bottom: -24px;
	text-align: center;
}

h2{
	font-family: 'Cousine', monospace;
	font-size: 1.5em;
	margin-bottom: 12px;
	text-align:center;;
}

p, li{
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 1.3em;
	line-height: 160%;
	text-align: center;
}

hr{
	color:white;
}

header{
	position:fixed;
	top:0;
	left:0;
	width:100%;
	background-color: darkslategrey;
	font-family: 'Cousine', monospace;
	font-size: 1rem;
	padding: 1% 2% 1%;
	text-align: left;
}

header a{
	color: white;
	padding: 2px 4px 2px;
}

img{
	height: 35%;
	width: 35%;
	border: 6px double white;
	padding: 2px;
}

footer{
	position: absolute;
	background-color: #70670f;
	width:100%;
	left: 0px;
	right: 0px;
	margin-top: -12px;
}

.link{
	color:white;
}

.hoverable{
	text-decoration: underline;
	text-decoration-style: dashed;
}
