@import url('https://fonts.googleapis.com/css?family=Charm:700|Cousine|Source+Sans+Pro&subset=latin-ext');

body{
	background-image: linear-gradient(to bottom, DeepSkyBlue, #241f47);
	margin:10%;
	margin-top:5%;
	color:white;
}

h1{
	font-family: 'Charm', serif;
	font-size: 3em;
	margin-bottom: -24px;
}

h2{
	font-family: 'Cousine', monospace;
	font-size: 1.5em;
	margin-bottom: 12px
}

p, li{
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 1.3em;
	line-height: 150%;
	text-align:center;
}

hr{
	color:white;

}

header{
	position:fixed;
	top:0;
	left:0;
	width:100%;
	background-color: darkslategrey;
	font-family: 'Cousine', monospace;
	font-size: 1em;
	padding: 1% 2% 1%;
}

header a{
	color: white;
	padding: 2px 4px 2px;
}

figcaption{
	font-family: serif;
	font-style: italic;
}

img{
	height: 25%;
	width: 25%;
	border: 6px double white;
	padding: 2px;
}

.float{
	text-align: left;
	float: left;
}

.floatr{
	text-align: right;
	float:right;
}

.link{
	color:white;
}

.hoverable{
	text-decoration: underline;
	text-decoration-style: dashed;
}
